<!DOCTYPE HTML>
{% load static %}
<head>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Proxima+Nova" rel="stylesheet">

<style>
html{
	background-color:#D5DFD9;
	padding:20px;

}
h2{
	margin:20px;
	font-family:Proxima Nova;
}
.navbar{
	background-color:#3C455C;
}
#field{
	margin:20px;
	padding-bottom:30px;
}
#text-jadwal, #text-create{
	font-family:Proxima Nova;
	font-size:18px;
	color:white;
}
</style>
</head>

<html>

 <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'jadwalkegiatan:jadwal' %}" id="text-jadwal"> <b> My Jadwal</b> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'jadwalkegiatan:addForm' %}" id="text-create"><b> Create Jadwal </b> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>


<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<!-- Columns are always 50% wide, on mobile and desktop -->
<div class="row">
  <div class="col-6"></div>
  <div class="col-6"></div>
</div>




<h2> Tambahkan Jadwal </h2>

<div class="col-8" id="field">
<form method="POST" class="form">
	{% csrf_token %}
	<p>Nama Kegiatan</p>
    {{ form.nama_kegiatan }}
    <p><br/>Tempat</p>
    {{ form.tempat }}
    <p><br/>Prioritas</p>
    {{ form.prioritas }}
    <p><br/></p>
    {{ form.tanggal }}
    <p><br/></p>
    {{ form.waktu }}
    <p><br/></p>
       <div class="full">
                <input type="submit" class="button" value="Submit" />
            </div>
</form>

</html>