<!DOCTYPE HTML>
{% load static %}
<html>

<head>
<link href="https://fonts.googleapis.com/css?family=Proxima+Nova" rel="stylesheet">
<style>
html{
	background-color:#D5DFD9;
	padding:20px;
}
.row{
	margin:20px;
}

#listjadwal{
	margin-left:30px;
}
h2{
	margin:20px;
	font-family:Proxima Nova;
}
#text-create, #text-jadwal{
	color:white;
	font-family:Proxima Nova;
	font-size:18px;
}
p{
	font-size:15px;
	font-family:Arial;
}
.navbar{
	background-color:#3C455C;
}

</style>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.css' %}" />
</head>


<body>

 <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="{% url 'jadwalkegiatan:jadwal' %}" id="text-jadwal"> <b>My Jadwal </b> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'jadwalkegiatan:addForm' %}" id="text-create" > <b>Create Jadwal</b> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
    </span>
  </div>
</nav>


<div class="row">
  <div class="col-6"><h2> Daftar Jadwal </h2></div>
  <div class="col-6"></div>
</div>

<div class="col-8" id="listjadwal">
{% for j in jadwal %}
            <div class="jadwal-card">
                <h4>{{ j.nama_kegiatan }}</h4>
                <div class="flex">
                    <div>
                        <p> Di {{ j.tempat }}<br/>
                        Prioritas: {{ j.prioritas }} </p>
                    </div>
                    <div>
                        <p> Date: {{ j.tanggal }}<br/>
                        Time: {{ j.waktu }} </p>
                    </div>

                    <form action="delete" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ j.id }}" name="id" />
                        <input class="button delete" type="submit" value="Delete" />
                        <p><br/> </p>
                    </form>
                </div>
            </div>
        {% endfor %}
</div>


</body>
</html>